* {
    box-sizing: border-box;
}

header {
    padding: 20px;
    text-align: left;
    float: left;
    background: rgb(38, 38, 146);
    color: #fff;
    border-bottom:30px black;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgb(27, 59, 88) 4%, rgb(109, 170, 206) 63%);
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: gray;
    border-radius: 8px;
    text-align: center;
}


#score {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    text-align: center;
}

#question {
    width: 800px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}





#start {
    color: green;
    text-transform: uppercase;
    background: silver;
    border: 10px solid white;
    font-size: 30px;
    font-weight: bold;
    transition: all;
    text-align: center;
}

#start:hover {
    color: #ffffff;
    background: green;
    border-color: black;
    transition: all;
}

#timer {
    height: 240px;
    padding: 30px;
    background: #13293d;
    color: #fff;
    text-align: center;
}

.timer-text {
    padding: 5px;
}










.reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
}

button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
}




.results {
    width: 30vw;
    height: 400px;
}

.card {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
}


.large-font {
    font-size: 3.5em;
    text-align:center;
}



@media screen and (max-width: 1183px) {
main {
    flex-direction: column;
}

.word-guess,
.results {
    width: 90vw;
}

section {
background-color: white;
margin: 20px auto;
width: 92vw;
}

}

@media screen and (max-width: 504px) {
.large-font {
font-size: 2em;
}

.reset-button {
font-size: 12px;
width: 20ox;
}
}